.team__title {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #001337;
    font-size: 16px;
    line-height: 22px;
    width: 288px;
    height: 22px;
    margin: -173px auto 20px;
}

@media screen and (min-width: 710px) {
    .team__title {
        font-size: 24px;
        line-height: 33px;
        width: 690px;
        height: 33px;
        margin: -233px auto 30px;
    }
}

@media screen and (min-width: 1024px) {
    .team__title {
        width: 472px;
        height: 66px;
        font-size: 36px;
        line-height: 68px;
        margin-top: -290px;
    }
}