.team__image {
    width: 120px;
    height: 160px;
    background: url();
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 710px) {
    .team__image {
        width: 170px;
        height: 226px;
    }
}

@media screen and (min-width: 1024px) {
    .team__image {
        width: 215px;
        height: 286px;
    }
}