.header__menu {
z-index: 2;
transition: all 0.3s ease;
}

@media screen and (max-width: 815px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 330px;
    background-color: #000D26;
  }
  .header__menu.active-burger {
    left: 0
  }
}
