.header__menu {
z-index: 2;
transition: all 0.3s ease;
}

@media screen and (max-width: 815px) {
  .header__menu {
    position: fixed;
    right: 0;
    top: -100%;
    width: 330px;
    background-color: #000D26;
  }
  .header__menu.active-burger {
    top: 0
  }
}

@media screen and (max-width: 760px) {
  .header__menu {
    width: 100%;
  }
}
