.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 80px;
}

.header::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: #000D26;
}

@media screen and (max-width: 815px) {
  .header {
    height: 60px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    height: 44px;
  }
}
