.publications__article-subtitle {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 145%;
    color: #009FAC;
    width: 268px;
    height: 34px;
    margin: 4px 4px 0 16px;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (min-width: 481px) {
    .publications__article-subtitle {
        font-size: 14px;
        line-height: 19px;
        width: 290px;
        height: 38px;
        margin: 4px 20px 0;
    }
}

@media screen and (min-width: 1280px) {
    .publications__article-subtitle {
        width: 305px;
        height: 38px;
        font-size: 14px;
        line-height: 19px;
        margin: 4px 23px 0 20px;
    }
}