.publications__image {
    width: 256px;
    height: 160px;
    background: url();
    border-radius: 10px;
    margin: 16px 16px 0;
}

@media screen and (min-width: 481px) {
    .publications__image {
        width: 291px;
        height: 158px;
        margin: 20px 20px 0 19px;
    }
}

@media screen and (min-width: 1280px) {
    .publications__image{
        width: 310px;
        height: 223px;
    }
}