.publications__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 209px;
    height: 30px;
    padding: 0;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 3px;
}

@media screen and (max-width: 481px) {
    .publications__link {
        width: 168px;
        height: 19px;
        margin-left: 16px;
    }
}