.publications__swiper {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto 217px;
}

@media screen and (min-width: 710px) {
    .publications__swiper {
      width: 690px;
      margin-bottom: 294px;
    }
}

@media screen and (min-width: 1280px) {
    .publications__swiper {
      width: 1100px;
      margin-bottom: 381px;
    }
}