.publications__article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 288px;
    height: 242px;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 481px) {
    .publications__article {
        width: 330px;
        height: 277px;
    }
}

@media screen and (min-width: 1280px) {
    .publications__article {
        width: 348px;
        height: 305px;
        cursor: pointer;
    }
}

.publications__article :hover + .publications__image {
  height: 158px;
}