.publications__article-title {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000D26;
    width: 268px;
    height: 38px;
    margin: 12px 4px 0 16px;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 481px) {
    .publications__article-title {
        font-size: 18px;
        line-height: 30px;
        width: 290px;
        height: 60px;
        margin: 20px 20px 0;
    }
}

@media screen and (min-width: 1280px) {
    .publications__article-title {
        width: 305px;
        margin: 20px 23px 0 20px;
    }
}