.title-section__title {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 16px;
  letter-spacing: 0.1px;
  z-index: 2;
  position: relative;
}

@media screen and (min-width: 481px) {
  .title-section__title {
    font-weight: 700;
    font-size: 54px;
    line-height: 68px;
    padding-bottom: 12px;
  }
}
