.about__description {
  max-width: 85%;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000d26;
  margin: 0;
  padding: 12px 16px 0px;

  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 32px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
