.about__date {
  font-style: italic;
  text-decoration: underline;
  font-size: 12px;
  line-height: 17px;
  font-weight: 400px;
  padding:16px 0 0 16px;
  color: #009fac;
  margin: 0;
}

@media screen and (min-width: 481px) {
  .date {
    font-size: 14px;
    line-height: 19px;
    padding-left: 20px;
  }
}
