.about__button {
  top: 40%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 4px 30px rgba(224, 240, 255, 0.1);
}

.about__button:nth-child(even){
  left: -290px;
}

.about__button:nth-child(even)::after {
  content: url(../../images/arrow-left.svg);
}

.about__button:nth-child(odd) {
  right: -290px;
}

.about__button:nth-child(odd)::after {
  content: url(../../images/arrow-right.svg);
}

