.about__pagination {
  position: relative;
  margin: 16px auto;
}

/* not BEM at all */
.about__pagination .swiper-pagination-bullet {
  background: rgba(255,255,255, .5);
}

.about__pagination .swiper-pagination-bullet-active {
  background: #fff;
}
