.header__list {
  display: flex;
  padding: 0;
  align-items: center;
  margin: 0;
}

.header__list li {
  list-style: none;
  margin-left: 20.83px;
}

@media screen and (max-width: 815px) {
  .header__list {
    margin-top: 56px;
    flex-direction: column;
  }
  .header__list:last-of-type {
    margin-bottom: 118px;
  }
  .header__list li {
    display: flex;
    margin-left: 0;
    width: 330px;
    height: 44px;
  }
  .header__list li:hover {
      background-color:  #001337;
  }
}

@media screen and (max-width: 760px) {
  .header__list li {
    width: 100%;
  }
}
